*{
	margin:0px; padding:0px;
}

.container{
	background-color:lightblue;
	width:100%;
}

.container1{
	background-color:lightblue;
	width:100%;
	 
}

.container2{
	background-color:lightblue;
	width:100%;
	text-align:center; 
}
table{
	font-size:18px;
}
.wrapper{
	width:1500px;
	margin:right;
}

.Bottm{
	background-color:orange;
	height:400px;
	width:100%;
}
.Bottmpay{
	background-color:orange;
	height:510px;
	width:1510px;
}

#main_form{
	margin-left:50px;
	display:inline;
	background-color:blue;
}

}
#top_left{
	display:inline-block;
	float:right;
}	
ul{
	text-align:center;
}

ul li a{
	text-decoration:none;
	color:white;
}

ul li{
	background-color:green;
	display:inline-block;
	width:252px;
	text-align:center;
	height:40px;
	line-height:40px;
	
}

