body{
	background-color:#B4FFFF;
}

#hh1{
	text-align:center;
}


#hh2{
	text-align:center;
}
h2{
	align:center;
}

p{
	text-align:center;

}


#myTable{
	background-color:rgba(80,10,10,0.3);
}

a{
	text-align:center;
	color:#7D0552;
}